[Desktop Entry]
Type=Application
Name=SSH File Transfer
Comment=Fast file uploader over SSH
Icon=folder-remote
Exec=bash -c "/usr/local/bin/micromamba run -r /home/developer/.local/share/mamba -n venv python /home/developer/MEGA/Projects/ssh-file-transfer/upload_gui.py"
Path=/home/developer/MEGA/Projects/ssh-file-transfer
Terminal=false
Categories=Network;
Keywords=ssh;scp;upload;
StartupWMClass=ssh-file-transfer
